<div class="row">
    <div class="container sign-up-form">
        <div class="card blue-grey darken-1 center-align">
            <div class="card-content white-text">
                <span class="card-title"><%= @student.name %></span>
                <p><%= @student.email %></p>
                <p><br>Course Enrollments: 
                    <% if @student.courses.none? %>
                        None
                    <% else %>
                        <% @student.courses.each do |course| %>
                            <br><%= link_to course.name, course %>
                        <% end %>
                    <% end %>
                </p>
            </div>
            <% if current_user == @student %>
                <div class="card-action">
                    <%= link_to "Edit Profile", edit_student_path %>
                </div>
            <% end %>
        </div>
    </div>
</div>